@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1645111220717') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backtop:before {
  content: "\e60a";
}

.icon-qq:before {
  content: "\e50b";
}

.icon-down-circle:before {
  content: "\e77f";
}

.icon-bangumi-icon:before {
  content: "\e520";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-email:before {
  content: "\e634";
}

.icon-bilibili:before {
  content: "\e609";
}

